{% extends  'template.html'%}{% block content %}<!--addition-->
<div id="verstehen mir">
<h2>You .</h2>
<br>
<table width = "420">
	<tr>
		<td>
			<p>Understand me</p>
		</td>
	</tr>
</table>
<p>Fri Oct 20 08:29:11 2023,by Jero98772.</p>
</div>
<hr>
<div id="drie"><h2>other evidence</h2><br><table width = "420">	<tr>		<td>			<p>One, two, three</p>		</td>	</tr></table><p>Fri Oct 13 15:09:23 2023,by Jero98772.</p></div><hr><div id="test2"><h2>Testing</h2><br><table width = "420">	<tr>		<td>			<p>jetst seamless by meta</p>		</td>	</tr></table><p>Fri Oct 13 15:07:20 2023,by Jero98772.</p></div><hr><div id="t"><h2>Testing</h2><br><table width = "420">	<tr>		<td>			<p>Seamlessmeta</p>		</td>	</tr></table><p>Fri Oct 13 15:01:10 2023,by Jero98772.</p></div><hr><div id="Ich"><h2>I do not know who I am</h2><br><table width = "420">	<tr>		<td>			<p>I have to think</p>		</td>	</tr></table><p>Thu Oct 12 23:22:45 2023,by Jero98772.</p></div><hr>{% endblock %}