{% extends 'template.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="post" enctype="multipart/form-data">
                <h1 class="text-center">NOAA Signal Processing</h1>
                <div class="form-group">
                    <label for="file">Select Audio File</label>
                    <input type="file" class="form-control-file" id="file" name="file" required>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="resample" name="resample" value="True">
                    <label class="form-check-label" for="resample">Resampled?</label>
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary">Convert</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}