{% extends  'template.html'%}
{% block content %}
<h1>
	<p>good proyect that I like</p>
</h1>

<center>
<!--addition-->
	<div id="Drawdio">
	<p>
		<h2>Drawdio in plant</h2>
	</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/Ein9asQgfB8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<p>
		<h2>Drawdio in pencil</h2>
	</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/HYg8iycYZNs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<br>
	<br>
	</div>
	<hr>
	<br>
	<br>
	<div id="3D printer">
	<p>
		<h2>chep 3D printer like <a href="https://www.youtube.com/watch?v=anIy6eb1fW0&list=LL&index=122">this</a></h2>
	</p>
	<img src="http://wiki.unloquer.org/_media/personas/jero98772/img_20201201_074713.jpg" width="560" height="350">
	<h6>my own version ... is not working</h6>
	<br>
	<br>
	</div>
	<hr>
	<br>
	<br>
	<div id="wefax">
	<p><h2>whether fax give you eye in space</h2></p>
	<img src="http://www.dd9lh.de/noaa/noaa-19-201709130145-mcir.jpg">
	<h6><p>take from <a href="http://www.dd9lh.de/noaa/noaa-19-201709130145-mcir.jpg" width="560" height="350" >http://www.dd9lh.de/noaa/noaa-19-201709130145-mcir.jpg</a></p></h6>
	<p><h3>3 yeards before and now ... I'm still trying</h3></p>
	<br>
	<br>
	</div>
	<hr>
	<br>
	<br>
	<div id="soldering">
	<p><h2>home made 400 amps</h2></p>
	<p>soldering iron? made with microwave parts</p>
	<img src="http://wiki.unloquer.org/_media/personas/jero98772/20190613_070145.jpg" width="560" height="350">
	<br>
	<video width="560" height="350" controls>
		  <source src="http://wiki.unloquer.org/_media/personas/jero98772/vid_20200301_190448.mp4" type="video/MP4">
	</video>
	<p><h3>the coins don't like it</h3></p>
	<br>
	<br>
	</div>
	<hr>
</center>
{% endblock  %}