{% extends  'template.html'%}
{% block content %}
<h1>
	<p>good proyect that I like</p>
</h1>
<br>
<hr>
<br>
<center>
	<!--addition-->
	<div id="daquina">
		<h1>air quality maps , daquina</h1>
	<p>
		<h2>medellin</h2>
	</p>
	<a href="http://daquina.io/aqaviz/">http://daquina.io/aqaviz/</a>
	<br>
	<iframe width="560" height="315" src="http://daquina.io/aqaviz/"></iframe>
	<p>
		<h2>bogota</h2>
	</p>
	<a href="http://daquina.io/canairio/">http://daquina.io/canairio/</a>
	<br>
	<iframe width="560" height="315" src="http://daquina.io/canairio/"></iframe>
	<h3>		
	<p>while state environmental agencies leave areas for other agencies.</p>
	<p>more citizen movements in other cities and others  countries</p>  <p><h3>they join each other.</h3> un/loquer ,canairio, aire envigado... and a lot of more people ,and groups working with each other </p>
	</h4>
	<br>
	<hr>
	<br>
	<p><h2>"some people take advantage of the pandemic to learn data management"</p></h2>
	</p>doing things of value in a crisis situation</p>
	<p> is not necessarily stealing, it can be learning</p>
	<br>
	<br>
	<p><h2>... learning statistics ...</h2></p>
	<a href="http://daquina.io/static/covid19_mde.html">http://daquina.io/static/covid19_mde.html</a>
	<br>
	<iframe width="560" height="315" src="http://daquina.io/static/covid19_mde.html"></iframe>
	<p><h2>covid map made by people with no intentions </h2></p>
	<a href="http://daquina.io/covid19med/#12/6.2433/-75.5763">http://daquina.io/covid19med/#12/6.2433/-75.5763</a>
	<br>
	<iframe width="560" height="315" src="http://daquina.io/covid19med/#12/6.2433/-75.5763"></iframe>
	<br>
	<hr>
	<p><h2>a way to save time...</h2></p>
	<p><h3>called activism</h3></p>
	<br>
	<iframe width="560" height="315" src="	https://vecinosdela80.org/">https://vecinosdela80.org/</iframe>
	<br>
	<p><h2></h2></p>
	<p><h3>called activism</h3></p>
	<br>
	</div>
	<hr>
	<br>
	<div id="soundData">
	<p><a href="https://www.youtube.com/watch?v=Zcgf77T71QM&feature=youtu.be">Waver</a></p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/Zcgf77T71QM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<p><a href="https://vimeo.com/92651272">Airchat</a></p>
	<iframe src="https://player.vimeo.com/video/92651272" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
	<br>
	<a href="https://waver.ggerganov.com/">https://waver.ggerganov.com/</a>
	<br>
	<a href="https://github.com/ggerganov/ggwave">ggwaves ource</a>
	<br>
	<a href="https://github.com/lulzlabs/AirChat">AirChat source</a>
	<br>
	<br>
	</div>
</center>
{% endblock  %}