{% extends  'template.html'%}
{% block content %}
<h1>
<p><a href="/blog/blog1.html">blog1: thoughts</a></p>
<p><a href="/blog/blog2.html">blog2: related to things of value ... in me</a></p>
<p><a href="/blog/blog3.html">blog3: if you like I recommend you</a></p>
<p><a href="/blog/blog4.html">blog4: figures</a></p>
<p><a href="/blog/blog5.html">blog5: good humans</a></p>
<p><a href="/blog/blog6.html">blog6: good proyects</a></p>
<p><a href="/blog/blog7.html">blog7: travel to others proyects ...</a></p>
<br>
<p><a href="/blog/manifest.html#own">my own manifest: jero98772 </a></p>
<p><a href="/blog/manifest.html">manifest: jero98772 ,dasjero ,daniel and some cultures of my interest , build my Manifest</a></p>
<p><a href="/blog/proyectos.html">proyects ... 🐟️🌫️💻️📻️01🗡️🛠️</a></p>
<br>
</h1>
 {% endblock  %}
