{% extends  'template.html'%}
{% block content %}
<h1>
	<p>amigos y personas asi ,son muy escasas , cada vez  ahy menos</p>
</h1>
<center>
	<p>		
		<h2 id="Checho">Aka "Checho":</h2>
	</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/mll1m80jl8o" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/0MES_yvy7sY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<hr>	

	<p>		
		<h2 id="Brol">Alias "Brol":</h2>
	</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/M_G-5Y0Wkdg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<hr>
	<p>		
		<h2 id="ClonJhonny">maldad del "Clon" y el "Jhonny":</h2>
	</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/euRpXAniSP8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<hr>
	<p>		
		<h2 id="UnLoquer">En el Un/Loquer:</h2>
	</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/dOaZIMqVaIE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<hr>
	<p>		
		<h2 id="Son0p">Son0p</h2>
	</p>
	<a href="https://vivirenelpoblado.com/federico-lopez-explorador-curioso-tras-la-musica/">acces to link...</a>
	<iframe width="560" height="315" src="https://vivirenelpoblado.com/federico-lopez-explorador-curioso-tras-la-musica/" frameborder="0"></iframe>
	<hr>
	<p>		
		<h2 id="Epsylon">Epsylon</h2>
	</p>
	<p>a little "mirror"</p>
	<iframe width="560" height="315" src="https://03c8.net/blog.php" frameborder="0"></iframe>
	<hr>
</center>
{% endblock  %}