{% extends  'template.html'%}
{% block content %}
<center>
<h3>
<!--addition-->
<div>
<h1>algunos comentarios</h1>
<hr id="bitcoin">
como saber lo que no es bitcoin 
<br>
<a href="https://www.youtube.com/watch?v=epVfxYNxOkQ">video youtube</a>
<br>
<h1>¿que es bitcoin?</h1>
<br>
bitcoin es :
<br>
<a href="https://github.com/bitcoin/bitcoin">codigo bitcoin en github</a>
<hr id="hacker">
<h1>¿quieres saber que es un hacker?</h1>
<br>
<a href="https://www.youtube.com/watch?v=VPDaiJkxN6Y">video youtube</a>
<br>
me gusta mucho esa postura sobre el hacker
<hr id="dedicacion">
<h1>¿disfrutamos lo que hacemos? o lo hacemos por hacerlo?</h1>
<br>
<a href="https://www.youtube.com/watch?v=dqgVxZgaEKM">video youtube</a>
<hr id="conferencias">
<br>
<h1>conferencias brutales</h1>
<br>
<h2>un error es un error si no sabemos del error</h2>
<a href="https://www.youtube.com/watch?v=4UIFX3bR3LE">solucion para error = error</a>
<br>
<h2>no te limites por tu edad y tus conocimientos</h2>
<a href="https://www.youtube.com/watch?v=6A62QNA94A4">la valentia del chico para hacer un juego en una conferncia y lo teso que es hacerlo ... muy teso</a>
<br>
<hr id="iypi">
<br>
<h2>la normalidad y la locura</h2>
<br>
<img src="https://math-exercises.com/images/Be_Real_en.png">
<br>
<p>lo imaginario y lo irracional </p>
<p> discutiendo entre ellos por que no son</p>
<p> reales y lo racionales </p>
<p> ... si fueran humanos </p>
<p> ambos son complejos </p>
<br>
<hr>
<h1 id="pfp">te recomeindo </h1>
<br>
<p>saber como preguntar y formular problemas</p>
<p> enlaces muy interesantes y utiles</p>
<p>* <a href="https://sindominio.net/ayuda/preguntas-inteligentes.html#AEN217">preguntas-inteligentes</a></p>
<p>* <a href="http://wiki.unloquer.org/personas/jero98772/formular-preguntas/start">formular problemas</a></p>
<hr>
<h1 id="animaleshumanos"></h1>
<br>
<p>el humano primero es animal luego es humano</p>
<p>una forma de enteder la animaliacion de las personas es viendo que es un animal </p>
<p>hay muchas formas de ver lo como pensando en un animal como referencia a una caracteristaica de una persona  </p>
<br>
<p>ademas es entretenido  ver/leer <a href="https://en.wikipedia.org/wiki/Beastars">Beastars</a></p>
<img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e1/BEASTARS%2C_volume_1.jpg/220px-BEASTARS%2C_volume_1.jpg">
</div>
</h3>
</center>
 {% endblock  %}
