{% extends  'template.html'%}
{% block content %}
 <center><!--addition--><img src="https://upload.wikimedia.org/wikipedia/commons/7/73/Pale_Blue_Dot.png" >
 <h1 id="bullingatack">text that mark my way of thinking ... of carl sagan </h1>
 Look at that point. That is here. That is our home. That is us. In it, everyone you love, <br>everyone you know, everyone you ever heard of, every human being who ever lived lived his <br>life. The sum of all our joys and sufferings, thousands of self-assured religions, ideologies <br>and economic doctrines, each hunter and gatherer, each hero and coward, each creator and <br>destroyer of civilizations, each king and peasant, each young couple in love, each mother and <br>father, hopeful child, inventor and explorer, every moral teacher, every corrupt politician, <br>every "superstar", every "supreme leader", every saint and sinner in the history of our <br>species, lived there - on a speck of dust suspended in a ray of sunlight.<br>
Earth is a very small stage in the vast cosmic sand. Think of the rivers of blood shed by all <br>those generals and emperors, so that in their glory and triumph they might become momentary <br>masters of a fraction of a point. Think of the endless cruelties committed by the inhabitants <br>of one corner of the point on the barely distinguishable inhabitants of some other corner. How <br>frequent their misunderstandings, how eager they are to kill each other, how fervent their <br>hatreds are. Our positions, our imaginary importance, the illusion that we occupy a privileged <br>position in the Universe ... is challenged by this point of pale light.<br>

Our planet is a lonely stain in the great, enveloping cosmic gloom. In our darkness — in all <br>this vastness — there is no indication that help is going to come from somewhere else to save <br>us from ourselves. Earth is the only world known so far that houses life. There is no other <br>place, at least in the near future, to which our species could migrate. Visit, yes. Settle, not <br>yet. Whether we like it or not, for the moment Earth is where we have to stay. Astronomy has <br>been said to be a builder of humility and character. Perhaps there is no better demonstration <br>of the folly of human concepts than this distant image of our tiny world. For me, it <br>underscores our responsibility to treat each other better, and to preserve and love that pale<br> blue dot, the only home we've ever known<br>
</center>
taken from <a href="https://es.wikipedia.org/wiki/Un_punto_azul_p%C3%A1lido"><br>Una mota de polvo azul</a>
<hr>
<div id="masterpath">
<br>To follow the path:
<br>look at the master,
<br>follow the master,
<br>walk together with the master,
<br>look through the master,
<br>become the master.
eric raymon
taken from <a href="https://biblioweb.sindominio.net/telematica/hacker-como.html">hacker</a>
</div>
<br>
<center>
<hr>
<br>
<hr>
<br>
	<h1 id="fishes">"I will try to breed fish"  30/03/2015 say jero98772 </h1>
	<h2>
		trying breed fishes...
	</h2>
		<img src="{{ url_for('static',filename ='img/blog/huevos.jpeg')}}" width="560" height="315">
	<p>
		the parents died before the eggs were fertilized
	</p>
	<h2>
		are breeding!
	</h2>
		<!--iframe  width="200" height="400" src="http://wiki.unloquer.org/_media/personas/jero98772/apareamento.mp4"></iframe-->
	<p>
		the eggs could not be attached to any surface, the fry were not formed, dont born
	</p>
		<img src="{{ url_for('static',filename ='img/blog/noalevines.jpeg')}}" width="560" height="315">
	<h2>
		trying breed fishes ...
	</h2>
	<h1>
		today I continue trying breed fishes without achieving it, I but learning with this
	</h1>
<hr>
	<h1 id="wetherfax">i trying to do wetherfax ...</h1>
	<p> read book </p>
	<p> make antennas</p>
	<p> tv dipole </p>
	<p> coaxial dipole</p>
	<p> antennas qhf</p>
	<p>...</p>
	<h2>3 years later</h2>
	<p>I better try to catch a free wifi nearby</p>
	<img src="https://content.instructables.com/ORIG/F6I/SOS5/KIKA4O19/F6ISOS5KIKA4O19.jpg?auto=webp&md=ac0a592ce13ee98fa868a180a1c1bea5">
	<h1> but i need to do wefax</h1>
<hr>
	<h1 id="ktopo">" better you could use that rpi for the ktopo " ...</h1>
	<p>6 months later</p>
	<!--iframe  width="560" height="315" src="http://wiki.unloquer.org/_media/personas/jero98772/ktopo.mp4"></iframe-->
	<p>others 6 months later</p>
	<img  width="560" height="315" src="https://github.com/jero98772/K-topo/raw/master/mini_K-Topo.jpg">
	<br>
	<a href="https://github.com/jero98772/K-topo">ktopo dream...</a>
	<hr>
	<h1>" i like to combine fish and code "...</h1>
	<br>
	<h1 id="curapeces"> curapeces </h1>
	<p>frist prototype ...</p>
	<!--iframe width="200" height="400"  src="http://wiki.unloquer.org/_media/personas/jero98772/curapeces.mp4"></iframe-->
	<h2>where I can say it works</h2>
	<br>
	<h1>and...</h1>
	<br>
	<p>you can teste here</p>
	<iframe width="560" height="315" src="/wwwof/curapeces.html"></iframe>
	<hr>
	<h1 id="dream1">for that creature ,dream-eater? </h1>
	<br>
	<p>that creature without a clear appearance, it was characterized by the amount of legs that had </p>
	<p>in the neighborhood a few days ago we were being tortured by fear of that  a creature that was constantly chasing us</p>
	<p> we did not know what happened to the people who caught that creature  </p>
	<p>3 people were caught up in the fear and were tired of running around in circles and scared</p>
	<p> that creature predicted our movements we did not know how to fight or escape of that crature</p>
	<p>We had been escaping from her for days</p>
	<p> trying to hide, finding ourselves it was too difficult to run from her we were exhausted from days of escape</p>
	<p>I managed to find a place to hide me temporarily ,with a breath that fills me with courage ...</p>
	<p> I came out of hiding, a determination appeared to get out of hiding and go home for my sword for figth</p>
	<p>when I managed to reach my sword the creature was behind my</p>
	<p>in my face came out a smile and courage to fight it,  I attacked it ...  </p>
<hr>
 <h1 id="fercho">Fercho</h1>
 <p>the greet fisher,who knows that to catch more than Palometas,</p><p> you need to get off the beach and out to high seas,</p><p> until you see the beach from the boat. </p>
 <br>
 <p>to get out of the common results, you need to go further, to where you see your beginning from your end. </p>
 <p>regardless of the vehicle, whether it is an airplane or a barge, you will arrive</p>
 <p>whether the road is long or short, it has interesting places where the road may end, but you can choose another one.</p>
 <br>
 <p>the future is fished with patience, without waiting for something specific.</p><p>when you more fishing, the more fish you will have to choose from. </p>
 <p>rest in peace</p>
 		<img src="{{ url_for('static',filename ='img/blog/20190704_070609.jpg')}}" width="560" height="315">
 		<img src="{{ url_for('static',filename ='img/blog/20190704_104545.jpg')}}" width="560" height="315">
<br>
<hr>
<br>
<brr>
<div>
<h1 id="blindlove">without words or eyes</h1>
<br>
<p>you left and I followed you,</p>
<br>
<p>I caught up with you a few times and you kept going,</p>
<br>
<p>I kept walking for about 3 years until there was no road,</p>
<br>
<p>but...</p>
<br>
<p>I was by your side when you looked at the sky, but you never looked.</p>
<br>
<audio controls>
  <source src="https://wiki.unloquer.org/_media/personas/jero98772/noaa15.mp3" type="audio/mpeg">
</audio>
</div>

<br>
<hr>

<div>
<h1 id="way">the way of life</h1>
<br>
<p>climbing a mountain I ended up lost on the way of life,</p>
<p>the path was blocked, the key to traverse it was determination to cross heaven or hell.</p>
<p>After surviving both paths were the same.  </p>
<img width="1000" height="745" src="{{ url_for('static',filename ='img/blog/IMG_20210630_150540.jpg')}}">
</div>
<br>
<hr>
<div>
    <h1>had to talk and leave </h1>
    <br>
    <code>
Ni siendo Dios es posible de mantener una relacion,amistad o cualquier mierda virtual.

a diferencia de una relacion normal ,que depende
de uno , en una relacion virtual depende de otros que hacen mal este trabajo.
¿o ya hiciste un sistema de mensajeria?
j33-b2#blindlove
</code>
    <br>
</div>
<br>
<hr>
<br>
<h1> La historia del camino hombre</h1>
<br>
<code>


Hace unos años ,hubo una pareja de unos niños que eran muy amigos, el chico le expreso su amor antes de que su amiga se fuera, ella dijo que se seguirían hablando por cartas.

El chico le estaba muy agradecido porque podía estar con ella, él era muy feo y esto no ayudaba para conocer a más gente.

El chico fue creciendo y quería volver a ver a su amiga una vez más, mostrarle que ya si estaba listo y era apto, sabía que era algo imposible, y de todas maneras quería intentarlo.

Paso un tiempo y este hombre se convirtió en una obra de arte, empezó a ganar batallas y mejorar, tener fama progresivamente...

Una de las cartas de su amiga , pedía ayudada en una batalla, él sin pensarlo 2 veces le ayudo, nunca la vio en esa batalla, pero ella reclamó la victoria.

Un día escucho de un hombre que era tan capaz como un dios, con un ejército 800 000 guerreros no vivos, alguien capaz de ganar las batallas más mortales, él solo, humillando fortalezas como si de tirar un huevo se tratara. Sabía que a este hombre lo buscaban los guerreros más poderosos y más inteligentes, ofreciendo un precio por su cabeza, y nunca lo han encontrado.

Unos días después el chico encontró un libro de conocimientos ancestrales, donde encontró el nombre del legendario guerrero mostrando un camino que permitía ver a su amiga.

Sin pensarlo 2 veces se encaminó a buscarlo y pedirle el poder para poder ver a su amiga, no le importaba si se tenía que enfrentar a este hombre temible, sabia que no morirá de rodillas, si moria seria de pie.

La amada le seguía mandando cartas donde pedía le ayuda al chico para que batallara.

Pasados 6 meses logro localizarlo y enfrentarlo, el chico logro salir de la batalla con vida y decidió volver a luchar, una tras otra, otra vez y otra vez, derrotado.

Hasta que desarrollo un gran poder, aun así fue el chico fue derrotado y humillado repetidas veces, en una batalla le contó porque quería saber ese conocimiento ancestral para poder ver a su amiga que amaba.

A lo que el guerrero respondió: " no esto aqui para llevarte de la mano", dejo de lado esa lucha y siguió con su camino.

El día llego que atravesó 4 ríos, 20 quebradas, escalo 700 metros en el momento que el sol estaba en su punto más alto,a punto de morir el sabía que no iba había forma de llegar cruzando aire, agua y tierra y no iba a llegar a nada.

mirando al cielo vio el camino por las estrellas, hiso un calculo donde vio una oportunidad en una hora que duraria 10 minutos, donde se tendria que integrar a una nave. se puso en marcha para hacer una máquina para pescar a la nave.

Antes de hacer la máquina le envió una carta a su amada diciéndole "cuando mieres el cielo, yo te estare viendo".

Solo tenía un cable de 10 metros y 8 palos de bambú para lograrlo.

Llegaron los 10 minutos de gracia, la máquina tenía sus fallos, paso la nave, rápidamente el chico logro agarrarse, la nave iba a 7.5 kilómetros por segundo.

Una vez se estabilizó la nave, el chico lograría ver a su amada una vez más , después de 3 años.

Cuando vio a la chica desde las estrellas, cruzando el camino más allá de cielo, mar y tierra, recortando la distancia y escribiendo un nuevo párrafo de la historia como si de un dios se tártara,
ella estaba con otro.

Hace unos años ,hubo una pareja de unos niños que eran muy amigos, el chico le expreso su amor antes de que su amiga se fuera, ella dijo que se seguirían hablando por cartas.

El chico le estaba muy agradecido porque podía estar con ella, él era muy feo y esto no ayudaba para conocer a más gente.

El chico fue creciendo y quería volver a ver a su amiga una vez más, mostrarle que ya si estaba listo y era apto, sabía que era algo imposible, y de todas maneras quería intentarlo.

Paso un tiempo y este hombre se convirtió en una obra de arte, empezó a ganar batallas y mejorar, tener fama progresivamente...

Una de las cartas de su amiga , pedía ayudada en una batalla, él sin pensarlo 2 veces le ayudo, nunca la vio en esa batalla, pero ella reclamó la victoria.

Un día escucho de un hombre que era tan capaz como un dios, con un ejército 800 000 guerreros no vivos, alguien capaz de ganar las batallas más mortales, él solo, humillando fortalezas como si de tirar un huevo se tratara. Sabía que a este hombre lo buscaban los guerreros más poderosos y más inteligentes, ofreciendo un precio por su cabeza, y nunca lo han encontrado.

Unos días después el chico encontró un libro de conocimientos ancestrales, donde encontró el nombre del legendario guerrero mostrando un camino que permitía ver a su amiga.

Sin pensarlo 2 veces se encaminó a buscarlo y pedirle el poder para poder ver a su amiga, no le importaba si se tenía que enfrentar a este hombre temible, sabia que no morirá de rodillas, si moria seria de pie.

La amada le seguía mandando cartas donde pedía le ayuda al chico para que batallara.

Pasados 6 meses logro localizarlo y enfrentarlo, el chico logro salir de la batalla con vida y decidió volver a luchar, una tras otra, otra vez y otra vez, derrotado.

Hasta que desarrollo un gran poder, aun así fue el chico fue derrotado y humillado repetidas veces, en una batalla le contó porque quería saber ese conocimiento ancestral para poder ver a su amiga que amaba.

A lo que el guerrero respondió: " no esto aqui para llevarte de la mano", dejo de lado esa lucha y siguió con su camino.

El día llego que atravesó 4 ríos, 20 quebradas, escalo 700 metros en el momento que el sol estaba en su punto más alto,a punto de morir el sabía que no iba había forma de llegar cruzando aire, agua y tierra y no iba a llegar a nada.

mirando al cielo vio el camino por las estrellas, hiso un calculo donde vio una oportunidad en una hora que duraria 10 minutos, donde se tendria que integrar a una nave. se puso en marcha para hacer una máquina para pescar a la nave.

Antes de hacer la máquina le envió una carta a su amada diciéndole "cuando mieres el cielo, yo te estare viendo".

Solo tenía un cable de 10 metros y 8 palos de bambú para lograrlo.

Llegaron los 10 minutos de gracia, la máquina tenía sus fallos, paso la nave, rápidamente el chico logro agarrarse, la nave iba a 7.5 kilómetros por segundo.

Una vez se estabilizó la nave, el chico lograría ver a su amada una vez más , después de 3 años.

Cuando vio a la chica desde las estrellas, cruzando el camino más allá de cielo, mar y tierra, recortando la distancia y escribiendo un nuevo párrafo de la historia como si de un dios se tártara,
ella estaba con otro.
</code>
<div>
<br>
<hr>
<br>
<!--h1> mujeres</h1>
<br>
<p>Decir que las mujeres estan mal cuando se relacionan con un hombre es algo que muchas veces es incorrecto.</p>
<p>Veo que hay mujeres que solo hacen daño en una relacion, no trabajan por ella, como hombres que solo hacen daño en una relacion</p>
<br-->


</div>

</center>

<br>
 {% endblock  %}
