{% extends  'template.html'%}
{% block content %}
<center>
<h1>ascii art? or open art?</h1>
<h3>
<!--addition-->
<h1 id="hacker">hacker glider</h1>
<p>[['._' '._' '._' '._' '._' '._' '._' '._' '@' '._' '._' '._' '._' '._' '._' '._' '._']</p>
<p> ['._' '._' '._' '._' '._' '._' '@' '@' '@' '@' '._' '._' '._' '._' '._' '._' '._']</p>
<p> ['._' '._' '._' '._' '._' '._' '@' '@' '@' '@' '@' '._' '._' '._' '._' '._' '._']</p>
<p> ['._' '._' '._' '._' '._' '._' '@' '@' '@' '@' '@' '._' '._' '._' '._' '._' '._']</p>
<p> ['._' '._' '._' '._' '._' '._' '._' '@' '@' '@' '._' '._' '._' '._' '._' '._' '._']</p>
<p> ['._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._']</p>
<p> ['._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '@' '@' '._' '._']</p>
<p> ['._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '@' '@' '@' '@' '._']</p>
<p> ['._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '@' '@' '@' '@' '@']</p>
<p> ['._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '@' '@' '@' '@' '._']</p>
<p> ['._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '@' '@' '@' '._']</p>
<p> ['._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._']</p>
<p> ['._' '@' '@' '@' '._' '._' '._' '@' '@' '@' '._' '._' '._' '@' '@' '@' '._']</p>
<p> ['@' '@' '@' '@' '@' '._' '@' '@' '@' '@' '@' '._' '@' '@' '@' '@' '._']</p>
<p> ['@' '@' '@' '@' '@' '._' '@' '@' '@' '@' '@' '._' '@' '@' '@' '@' '@']</p>
 <p>['._' '@' '@' '@' '@' '._' '._' '@' '@' '@' '._' '._' '@' '@' '@' '@' '._']</p>
 <p>['._' '._' '@' '._' '._' '._' '._' '._' '@' '._' '._' '._' '._' '._' '@' '._' '._']]</p>
 <hr>
<h1 id="source">open source</h1> 
<p>[['-' '-' '-' '-' '-' '-' '-' '#' '-' '-' '-' '-' '-' '-' '-']</p>
 <p>['-' '-' '-' '-' '#' '#' '#' '#' '#' '#' '#' '-' '-' '-' '-']</p>
<p> ['-' '-' '#' '#' '#' '#' '#' '#' '#' '#' '#' '#' '#' '-' '-']</p>
<p> ['-' '#' '#' '#' '#' '#' '#' '#' '#' '#' '#' '#' '#' '#' '-']</p>
<p> ['-' '#' '#' '#' '#' '#' '#' '#' '#' '#' '#' '#' '#' '#' '-']</p>
<p> ['#' '#' '#' '#' '#' '#' '#' '#' '#' '#' '#' '#' '#' '#' '#']</p>
<p> ['#' '#' '#' '#' '#' '#' '-' '-' '-' '#' '#' '#' '#' '#' '#']</p>
<p> ['#' '#' '#' '#' '#' '-' '-' '-' '-' '-' '#' '#' '#' '#' '#']</p>
<p> ['#' '#' '#' '#' '#' '-' '-' '-' '-' '-' '#' '#' '#' '#' '#']</p>
<p> ['#' '#' '#' '#' '#' '#' '-' '-' '-' '#' '#' '#' '#' '#' '#']</p>
 <p>['#' '#' '#' '#' '#' '#' '-' '-' '-' '#' '#' '#' '#' '#' '#']</p>
 <p>['-' '#' '#' '#' '#' '#' '.-' '-' '-.' '#' '#' '#' '#' '#' '-']</p>
 <p>['-' '#' '#' '#' '#' '-' '-' '-' '-' '-' '#' '#' '#' '#' '-']</p>
 <p>['-' '-' '#' '#' '#' '-' '-' '-' '-' '-' '#' '#' '#' '-' '-']</p>
 <p>['-' '-' '-' '-' '-' '-' '-' '-' '-' '-' '-' '-' '-' '-' '-']]</p>
 <hr>
<h1 id="hardware">open hardware</h1>
<p>[['"' '"' '"' '"' '"' '"' '@' '@' '"' '"' '"' '"' '"' '"' '"']</p>
 <p>['"' '"' '"' '"' '"' '"' '@' '@' '@' '"' '"' '"' '"' '"' '"']</p>
 <p>['"' '"' '"' '@' '@' '"' '@' '@' '@' '"' '@' '@' '"' '"' '"']</p>
 <p>['"' '"' '@' '@' '@' '@' '@' '@' '@' '@' '@' '@' '@' '"' '"']</p>
 <p>['"' '"' '"' '@' '@' '@' '@' '@' '@' '@' '@' '@' '"' '"' '"']</p>
 <p>['"' '"' '"' '@' '@' '@' '@' '@' '@' '@' '@' '@' '"' '"' '"']</p>
 <p>['"' '"' '"' '@' '@' '@' '@' '"' '@' '@' '@' '@' '"' '"' '"']</p>
 <p>['"' '@' '@' '@' '@' '@' '"' '"' '"' '@' '@' '@' '@' '@' '"']</p>
 <p>['"' '@' '@' '@' '@' '@' '"' '"' '"' '@' '@' '@' '@' '@' '"']</p>
 <p>['"' '@' '@' '@' '@' '@' '"' '"' '"' '@' '@' '@' '@' '@' '"']</p>
 <p>['"' '"' '"' '@' '@' '@' '@' '"' '@' '@' '@' '@' '"' '"' '"']</p>
 <p>['"' '"' '"' '@' '@' '@' '@' '"' '@' '@' '@' '@' '"' '"' '"']</p>
 <p>['"' '"' '"' '@' '@' '@' '@' '"' '@' '@' '@' '@' '"' '"' '"']</p>
 <p>['"' '"' '@' '@' '@' '@' '"' '"' '"' '@' '@' '@' '@' '"' '"']</p>
 <p>['"' '"' '"' '@' '@' '"' '"' '"' '"' '"' '@' '@' '"' '"' '"']]</p>
 <hr>
<h1 id="snake">snake eating yourself</h1>
<br>[['"' '"' '"' '"' '"' '@' '@' '@' '@' '@' '@' '"' '"' '"' '"' '"']
 <br>['"' '"' '"' '@' '@' '@' '@' '@' '@' '@' '@' '@' '@' '"' '"' '"']
 <br>['"' '"' '@' '@' '@' '"' '"' '"' '"' '"' '"' '@' '@' '@' '"' '"']
 <br>['"' '@' '@' '@' '"' '"' '"' '"' '"' '"' '"' '"' '@' '@' '@' '"']
 <br>['"' '@' '@' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '@' '@' '"']
 <br>['@' '@' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '@' '@']
 <br>['@' '@' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '@' '@']
 <br>['@' '@' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '@' '@']
 <br>['@' '@' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '@' '@']
 <br>['@' '@' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '@' '@']
 <br>['"' '@' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '@' '@']
 <br>['"' '@' '@' '"' '"' '"' '"' '@' '@'' '@' '"' '"' '"' '"' '@' '@']
 <br>['"' '"' '@' '@' '"' '"' '"' '@' '@' '|#|' '@' '"' '"' '@' '@' '']
 <br>['"' '"' '@' '@' '@' '"' '"' '@' '@' '@' '@' '"' '@' '@' '"' '"']
 <br>['"' '"' '"' '"' '@' '@' '@' '@' '@' '@' '@' '@' '"' '"' '"' '"']
 <br>['"' '"' '"' '"' '"' '"' '@' '@' '@' '@' '"' '"' '"' '"' '"' '"']]
<hr>
<h1 id="forest"> forest of ascci</h1>
[['"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"']<br>
 ['"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"']<br>
 ['"' '"' '"' '"' '"' '"' '"' '"' '@' '@' '"' '"' '"' '"' '"' '"' '"' '"']<br>
 ['"' '"' '"' '"' '"' '"' '"' '@' '@' '@' '@' '"' '"' '"' '"' '"' '"' '"']<br>
 ['"' '"' '"' '"' '"' '"' '"' '@' '@' '@' '@' '"' '"' '"' '"' '"' '"' '"']<br>
 ['"' '"' '"' '"' '"' '"' '@' '@' '@' '@' '@' '@' '"' '"' '"' '"' '"' '"']<br>
 ['"' '"' '"' '"' '"' '@' '@' '@' '@' '@' '@' '@' '@' '"' '"' '"' '"' '"']<br>
 ['"' '"' '"' '"' '"' '@' '@' '@' '@' '@' '@' '@' '@' '"' '"' '"' '"' '"']<br>
 ['"' '"' '"' '"' '@' '@' '@' '@' '@' '@' '@' '@' '@' '@' '"' '"' '"' '"']<br>
 ['"' '"' '"' '"' '"' '@' '@' '@' '@' '@' '@' '@' '@' '"' '"' '"' '"' '"']<br>
 ['"' '"' '"' '"' '@' '@' '@' '@' '@' '@' '@' '@' '@' '@' '"' '"' '"' '"']<br>
 ['"' '"' '"' '"' '@' '@' '@' '@' '@' '@' '@' '@' '@' '@' '"' '"' '"' '"']<br>
 ['"' '"' '"' '@' '@' '@' '@' '@' '@' '@' '@' '@' '@' '@' '@' '"' '"' '"']<br>
 ['"' '"' '"' '@' '@' '@' '@' '@' '@' '@' '@' '@' '@' '@' '@' '"' '"' '"']<br>
 ['"' '"' '"' '@' '@' '@' '@' '@' '@' '@' '@' '@' '@' '@' '@' '"' '"' '"']<br>
 ['"' '"' '"' '@' '@' '@' '@' '@' '@' '@' '@' '@' '@' '@' '@' '"' '"' '"']<br>
 ['"' '"' '"' '"' '@' '@' '@' '@' '@' '@' '@' '@' '@' '@' '"' '"' '"' '"']<br>
 ['"' '"' '"' '"' '@' '@' '@' '@' '@' '@' '@' '@' '@' '@' '"' '"' '"' '"']<br>
 ['"' '"' '"' '"' '"' '"' '"' '"' '@' '@' '"' '"' '"' '"' '"' '"' '"' '"']<br>
 ['"' '"' '"' '"' '"' '"' '"' '"' '@' '@' '"' '"' '"' '"' '"' '"' '"' '"']<br>
 ['"' '"' '"' '"' '"' '"' '"' '"' '@' '@' '"' '"' '"' '"' '"' '"' '"' '"']<br>
 ['"' '"' '"' '"' '"' '"' '"' '"' '@' '@' '"' '"' '"' '"' '"' '"' '"' '"']<br>
 ['"' '"' '"' '"' '"' '"' '"' '"' '@' '@' '"' '"' '"' '"' '"' '"' '"' '"']<br>
 ['"' '"' '"' '"' '"' '"' '"' '"' '@' '@' '"' '"' '"' '"' '"' '"' '"' '"']<br>
 ['"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"']<br>
 ['"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"']]<br>
 <hr>
 <h1 id="fish"> ascii fish</h1>
 <br>[['"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"' '"']
 <br>['"' '"' '"' '"' '"' '@' '@' '"' '"' '"' '"' '"' '"' '"' '"' '@']
 <br>['"' '"' '@' '@' '@' '@' '@' '@' '"' '"' '"' '"' '"' '"' '"' '@']
 <br>['"' '"' '@' '@' '"' '"' '"' '"' '@' '@' '"' '"' '"' '"' '@' '@']
 <br>['"' '@' '@' '"' '"' '"' '"' '"' '"' '@' '@' '"' '"' '@' '"' '@']
 <br>['"' '@' '"' '_' '_' '"' '"' '"' '"' '"' '@' '"' '"' '@' '"' '@']
 <br>['@' '@' '"' '@' '@' '|' '"' '"' '"' '"' '"' '@' '@' '"' '"' '@']
 <br>['@' '"' '"' '@' '@' '|' '"' '"' '"' '"' '"' '"' '@' '"' '"' '@']
 <br>['@' '"' '"' '"' '"' '"' '"' '"' '"' '"' '@' '@' '"' '@' '"' '@']
 <br>['@' '"' '"' '"' '"' '"' '"' '"' '"' '"' '@' '@' '"' '@' '"' '@']
 <br>['@' '@' '"' '"' '"' '"' '"' '"' '"' '"' '@' '"' '"' '"' '@' '@']
 <br>['"' '@' '"' '"' '"' '"' '"' '"' '"' '@' '"' '"' '"' '"' '@' '@']
 <br>['"' '"' '@' '"' '"' '"' '"' '"' '@' '"' '"' '"' '"' '"' '"' '@']
 <br>['"' '"' '"' '@' '@' '@' '@' '@' '"' '"' '"' '"' '"' '"' '"' '@']
 <br>['"' '"' '"' '"' '@' '@' '@' '"' '"' '"' '"' '"' '"' '"' '"' '"']]
<br>
 <hr>
 <h1 id="piday2021">happy pi day</h1>	
<pre>
                              
      3.141592653589793238462 
    6433832795028841971693993 
   75105820974944592307816406 
   28620899862803482534211706 
  798214808651328230664709384 
  460   9550      5822        
 317    2535      9408        
 12     8481      1174        
50      2841      0270        
        1938      5211        
        0555      9644        
        6229      4895        
        4930      3819        
        644       288         
        109       756         
        659       334         
       46128      475         
       6482       337         
       8678       316         
      52712       0190      9 
      14564       8566     92 
     346034       86104    54 
    3266482       133936  072 
    602491        4127372458  
    700660        6315588174  
    88152          09209628   
    29254           091715    
     364            36789   
</pre>
</h3>
<h1>what is art?</h1>
<br>
<p>is feel something?</p>
<!--mecanic fish img--> 
</center>
{% endblock %}