{% extends  'template.html'%}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/blog/tabs.css')}}">
<h3>
<h1>manifest</h1>
<br>
<br>
<h1>You may be interested in cultural manifestos</h1>
<hr>
<div class="tabs5">
<br>
<h1 id="hacker">
<a href="http://www.phrack.org/issues/7/3.html">Hacker Manifest by "The Mentor"</a>
my thing about this</h1>
<p>■reasons to be a hacker and do hacker "things" make you a hacker </p>
<p>■thinking about why and changing the way things are done</p>
<p>■if you don't like what you learn, it's not worth learning</p>
<p>■you miss the point of spending years on something if you don't enjoy the years</p>
<p>■people repeat and repeat several times, don't they listen?</p>
<p>■I know that at least I am not the only one who did this: "The task? I did it in my head" like this Manifest</p>
<p>■ "If it makes a mistake, it's because I
screwed it up.</p>
		<p class="tab10">Not because it doesn't like me...</p>
        <p class="tab10">Or feels threatened by me...</p>
		<p class="tab10">Or thinks I'm a smart ass...</p>
        <p class="tab10">Or doesn't like teaching and shouldn't be here...</p>
        <p class="tab10">Damn kid.  All he does is play games."</p>
<p>a way to understand errors</p>
<p>■ And then it happened... a door opened to a world... "This is it... this is where I belong..."</p>
<p>■ I know everyone here... even if I've never met them, never talked to
them</p>
<p>■ I consider myself a hacker but I don't know if I'm fit to be</p>
<p>■ This is our world now... the world of the electron and the switch, the
beauty of the baud.</p>
<p>■"... and you call us criminals.  We exist without skin color,
</p>
<p>without nationality, without religious bias... and you call us criminals.
</p>
<p>You build atomic bombs, you wage wars, you murder, cheat, and lie to us
</p>
<p>and try to make us believe it's for our own good, yet we're the criminals."
</p>
<p>I am a hacker, and this is my manifesto.</p> 
<p> You may stop this individual,</p>
<p>but you can't stop us all... after all, we're all alike.</p>
<p>I don't like the part that talks like a superior but sometimes</p>
<p> takes advantage of it to help others and me</p>
<p><b>this is my hacker own manifesto and critique of the manifesto</b></p>
<br>
<hr>
<br>
<h1 id="anarchy">
<a href="https://es.m.wikisource.org/wiki/Manifiesto_de_la_anarqu%C3%ADa">Anarchy Manifest by "Anselme Bellegarrigue"</a>
my thing about this</h1>
<p>■"I am honored and pleased that I have never been part of a group of conspirators or a revolutionary battalion.</p>
<p> I am honored and pleased because this serves to establish me</p><p> on the one hand, that I have been honest enough not to deceive the people</p> <p>and, on the other, that I have been skillful enough not to be fooled by the ambitious."</p>
<p>■"Anarchy is the negation of governments.</p>
<p> Governments, of which we are the pupils<p>
</p> have naturally found nothing better to do than to educate us in the fear and horror of their destruction."</p>
<p>Anarchy is the negation of governments."?</p>
<p>I prefer to think differently and say I want to govern myself, a government is a government</p>
<p>everyone should be free to decide whether to be governed or to govern themselves.</p>
<p>Everyone is free to be who they want to be, but not to impose who they should be</p>
<p>■"one thing is the state of a people who, wanting to be governed,</p>
<p>lack government"</p>
<p>human government lacks government</p>
<p>■"a people who, wanting to govern themselves, lack government</p>
<p> precisely because they do not want it."</p>
<p>that not work in me</p>
<p>■"The modern concept of absolute social truth or pure democracy has</p><p>opened up a whole range of knowledge that radically reverses the </p>
<p>terms of the traditional equation. Thus, anarchy, which, confronted</p><p>with the term monarchy."..."social order."</p>
<p>who goverment life ? ,the chaos?</p>
<p>natureand life is governed by its order,</p>
<p> which some call chaos or disorder, the true order of nature, life, etc.</p>
<p> is disorder.</p>
<p>...</p>
<p>■"He who says sovereignty of each, says equality;"</p>
<p>I believe that equity works better than equality</p>
<p>■"whoever says equality, says solidarity or fraternity;"</p>
<p>I believe that sisterhood works better than fatherhood in cases where no hierarchy is sought</p>
<p>■ "whoever says fraternity, says social order."</p>
<p>when we speak of fraternity we put someone superior to us which leads us to a hierarchy, a government is sustained in its hierarchies</p>
<p>■ "I find that the internecine wars that, in all times, have decimated</p>
<p> humanity, are linked to this one cause, exactly: the destruction or </p>
<p>the conservation of the government."</p>
<p>wars between governments to win or lose something they can government</p>
<p>the only rule of anarchy should be: "where the freedom of the other.</p>
<p>begins, your freedom ends" and "where your freedom begins, ends in .</p>
<p>other  freedom </p>
<p>inequality in the same species? they are humans who think they are</p>
<p> gods, inequality is meaningless if they are the same </p>
<p>■ "The reason is simple." my reason is :</p>
<p>is a company where many live if it ends many .</p>
<p>would cause problems, and many are afraid to think that it ends by:</p> <p>"how is the way to live after without order ".</p>
<p>■ "it is also impossible that from this inequality does not arise"...</p>
<p>■ "to stop attacking or defending the government in order to make civil war impossible, is nothing less than disregarding"</p>
<p>polarization is a good government defense strategy but for the</p> 
<p>individual it is a bad strategy</p>
<p>If there were no problems, no one would have to take care of them, </p>
<p>right?</p>
<p>I believe and want that peace is not possible we will always be at war </p>
<p>with something even if that something we like and are passionate about </p>
<p>will give us war</p>
<p>I do not like</p>
<p> the violent way in which they put governments, feetno that if you</p>
<p>deny a government must deny the way it acts, the fear that keeps,</p>
<p>not only are we afraid of a civil war but we have many other things to fear</p>
<p><b>this is my Anarchy own manifesto and critique of the manifesto</b></p>
<hr>
<h1 id="cyberpunk">
<a href="https://www.activism.net/cypherpunk/manifesto.html">A Cypherpunk's Manifesto
by Eric Hughes</h1></a>
<p>■ "Privacy is necessary for an open society in the electronic age"</p>
<p>■ "secret matter is something one doesn't want anybody to know."</p>
<p>■ "secret matter is something one doesn't want anybody to know."</p>
<p>■ "the freedom of speech, even more than privacy, is fundamental to an open society; we seek not to restrict any speech at all."</p>
<hr>
<hr>
<br>
<hr>
<h3>is I spend more time transcribing my points of view than thinking about them ,more than I thought them...</h3>
<br>
<hr>
<hr>
<br>
<hr>
<h1 id="own">jero98772 manifest</h1>
<p>I'm from a different species than the one I was born </p>
<p>, with which I didn't identify with myself as human</p>
<p>like everyone else with my differences, </p>
<p>with my problems and asking myself "why" that way of doing things.</p>
<p>When I divided from my species, transforming myself into a cyborg in order to survive,</p>
<p>my genes have important things about humans like difference of humans,</p>
<p>the relative nature of our thinking is very important in culture and a community.</p>
<br>
<p> i am jero98772</p>
<br> 
<p>always dasjero98772 </p>
<p>because we have different ways of working,different ways to be, to act  and comunicate because all humans</p>
<p>are different and have different ways of understanding </p> 
<br>
<p>A culture from my point of view is born from asking why from various points of view in common</p>
<p>I see no more diverse point of view in humans than in the politics of </p>
<p>left vs. right ... or the anarchist or centrist,</p>
<p>because there are against cultures , cultures and have they preferences</p>
<p>and they make cultures polarize so that they don't change from one </p>
<p>"side to the other side". (in some cases) </p>
<br>
<p>In everything we will see things that we do not like </p>
<p>or others that we like more than others</p> 
<p>but it does not mean that we should attack them or not think that way,</p>
<br>
<p>I would believe that we are enriched by the diversity that humans have</p>
<p>and use that diversity to understand us better.</p>
<br>
<p>punks and hippies are against they  cultures, like punks vs hippies ... </p>
<p>but there are many times when it's better to be punk and give a solution</p> <p>or to be hippy and accept things (like in something you can't intervene)</p> 
<br>
<p>it is not bad to be from one culture and have less preferred</p>
<p>cultures but if you are going to attack other cultures read about that culture</p>
<p>and unite it with your way of thinking others will think the same </p>
<p>and you will be able to guide them or you can be guide by others .<p>
<br>
<p>in the place where i live from the noosphere (like ¿internet?)</p>
<p>there are places that i like to walk and there are others that i don't</p>
<p>but if i need to get somewhere i will take the best way no matter </p>
<p>if i like it or not,having a clear path to follow to become me ,</p>
<p>Jero98772 from DasJero98772 because Daniel has already been ...<p>
<p><b>to be or not to be, be you as you want to be.</b></p>
<br>
</p>this is my place in the noosphere and  my manifest, in difernetes places where i am.</p>
<br>
<b>
<p>look for who you want will always bring problems </p>
<p>but if you really want to be you, you will give the solutions.</p>
</b>
<hr>
</div>
</h3>
<!--
I think and reconsider many things
-->
<!--
	to read Manifest
GNU by rms
Hacker by  The Mentor
manifiesto anarquista https://es.m.wikisource.org/wiki/Manifiesto_de_la_anarqu%C3%ADa
Hacktivismo by hacktivists 
Cypherpunk's by Eric Hughes 
You Are Not A Gadget by Jaron Lanier http://www.jaronlanier.com/general.html
Open Acces by Aron Swartz
The Hardware Hacker Manifesto by Cody Brocious
noosphere , dork , punk manifest, hipie , punk, biohacker   ?
nerd, geek, freek ,hipie , punk ...manifest
https://en.wikipedia.org/wiki/Crypto-anarchism


-->
{% endblock %}