{% extends  'template.html'%}
{% block content %}
<center>
<h1>galerias de proyectos </h1>
<br>
<h2>de codigo</h2>
<p>publicaciones principales: <a href="https://github.com/jero98772">github.com</a></p>
<p>publicaciones de respaldo: <a href="https://gitlab.com/jero98772" >gitlab.com</a></p>
<br>
<h2>no codigo</h2>
<p>proyectos que no tienen que ver con codigo</p>
<p>docuemntacion del los procesos <a href="http://wiki.unloquer.org/personas/jero98772/proyectos_interesantes"> wiki.unloquer.org</a></p>
<br>
<h2>usted esta aqui</h2>
</p><a href="/">https://jero98772.pythonanywhere.com/</a><p>
<br>
<p><h2>resultados:</h2></p>
<p>de proyecto en los que participado o explorados <a href="https://twitter.com/jero98772">twitter.com/jero98772</a></p>
</center>
{% endblock  %}