{% extends  'template.html'%}{% block content %}<!--addition-->
<div id="thinker">
<h2>Today</h2>
<br>
<table width = "420">
	<tr>
		<td>
			<p>I become a thinker, while the validation process of my domain finishes</p>
		</td>
	</tr>
</table>
<p>Thu Oct 12 23:19:26 2023,by Jero98772.</p>
</div>
<hr>
<h2>15/03/2023</h2> <p>Today i study german, make my daily problem of competitive programing and i read 3 pages of the book competitive programing</p><p>i listen green day today, i yeards i hadn't listened green day song, hear that was good </p><p>i make this page for testing a diary</p><hr> <!--<h2></h2> <p></p><hr> -->{% endblock  %}